a{
    padding-left: 100px;
    padding-right:50px;
   
    background-color: brown;
}
.image1{
    border-Radius:38px;
    height:70px;
    width:70px;
    margin-left: -85px;
    margin-right: 35px;
}