.ulist {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    overflow: hidden;
}

.container{
    background-color: #99ffdd;
}

li a {
    display: block;
    text-align: center;
    padding: 15px 117.6px ;
    text-decoration: none;
}

.list {
    float: left;
    margin-bottom: 0px
}

.list:hover{
    background-color:violet;
}



